* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
